.body {
    width: calc(100% - 3.5rem);
    height: 100vh;
    margin-left: 3.5rem;
    z-index: 0;
    position: relative;
    top: 0;
    background: #f4f7fa;
    padding: 1.5rem;
}

.body-trimmed {
    width: calc(100% - 12rem);
    margin-left: 12rem;
}

.body-md-screen {
    width: calc(100% - 3.5rem);
    margin-left: 3.5rem;
}