::ng-deep.mat-menu-panel {
    width: 150px !important;
}

mat-toolbar{
    height: 45px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #263238;
}

.logo-text {
    margin-left: 2.5rem;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}