<mat-toolbar color="primary">
    <span>
      <a routerLink="" mat-button>
        <mat-icon>videogame_asset</mat-icon> GamesMarket
      </a>
    </span>
  
    <app-authorize-view role="admin">
      <ng-container authorized>
        <div>
          <a mat-button routerLink="games"> Games </a>
        </div>
      </ng-container>
    </app-authorize-view>
  
    <div class="space"></div>
  
    <app-authorize-view>
      <ng-container authorized>
        <span>Hello, {{user}}</span>
        <a mat-button (click)="logout()">Logout</a>
      </ng-container>
    </app-authorize-view>
  
  </mat-toolbar>
  